/***** Theme specific colors *****/
$nfb-theme            : #00A850;
$nfb-theme-light      : #7FFF8E;
$nfb-theme-dark       : #213E0F;
$nfb-theme-very-light : #aFFFbE;
$nfb-theme-white      : #e1FFe5;

@import "main"; 


 