.section--forwards {
    ul {
        padding: 0;
    }
}

.forwards--enkelekolom {
    @include span-columns(12);
    margin-bottom: $base-vertical-margin;
}

.forward--current {
    font-weight: 400;
}

.forwards--linkerkolom {
    @include span-columns(12);
    @include media($medium-screen) {
        @include span-columns(6);
    }
    margin-bottom: $base-vertical-margin;
}
.forwards--rechterkolom {
    @include span-columns(12);
    @include media($medium-screen) {
        @include span-columns(6);
    }
    margin-bottom: $base-vertical-margin;
}
