// TYPOGRAPHY ================================================

$base-font: 'Open Sans', sans-serif;
$heading-font: 'Open Sans', sans-serif;
$caption-font: 'Open Sans', sans-serif;
$alt-font: 'Shadows Into Light Two', serif;
$icon-font: 'Open Sans', sans-serif;

$doc-font-size: 16;
$doc-line-height: 24;

$border-radius: 3px;

// set-up the body font-size / line-height
body {
  //margin-top: 0px + $doc-line-height;
  font-size: 0px + $doc-font-size;  
}

// COLORS =====================================================
$nfb-orange            : #ee7900;
$nfb-orange-light      : #f39d61;
$nfb-orange-dark       : #cf6315;
$nfb-orange-very-light : #ffedb1;
$nfb-orange-white      : #fffdd1;

$nfb-green            : #00A850;
$nfb-green-light      : #7FFF8E;
$nfb-green-dark       : #213E0F;
$nfb-green-very-light : #aFFFbE;
$nfb-green-white      : #e1FFe5;

$nfb-blue             : #1296D4;
$nfb-blue-light       : #7FC9FF;
$nfb-blue-dark        : #133B68;
$nfb-blue-very-light  : #cFFFdE;
$nfb-blue-white       : #E8FCFC;

$body-color           : #fff;
$text-color           : #222;
$title-color          : #000;

$base-color           : #343434;    
$comp-color           : spin($base-color, 180); 
$border-color         : #ddd;
$accent-color         : #000;



$table-border-color           : #ddd;
$table-border                 : 1px solid $table-border-color;
$table-background             : $body-color;
$table-header-color           : lighten($table-background, 10);
$table-hover-color            : darken($table-background, 2);
$table-stripe-color           : darken($table-background, 4);
$table-stripe-color-hover     : darken($table-stripe-color, 5);


// MEDIA QUERIES ==============================================
//$micro            : "only screen and (min-width: 30em)";
//$small            : "only screen and (min-width: 37.5em)";
//$medium           : "only screen and (min-width: 48em)";
//$large            : "only screen and (min-width: 62em)";
//$x-large          : "only screen and (min-width: 86.375em)";
