/***** Theme specific colors *****/
$nfb-theme            : #ee7900;
$nfb-theme-light      : #f39d61;
$nfb-theme-dark       : #cf6315;
$nfb-theme-very-light : #ffedb1;
$nfb-theme-white      : #fffdd1;

@import "main";


