<!-- Refills sliding menu -->

<nav class="js-search sliding-search-panel-content">
<div class="search-bar">
<form role="search" method="get" action="{{ paths.rooturl }}search"  enctype="text/plain">
          <input type="search" placeholder="Zoek..." name="search"/>
          <button type="submit">
            <i class="fa fa-search"></i>
          </button>
        </form>
</div>    
</nav>

<div class="js-search-screen sliding-search-panel-fade-screen"></div>
