<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->


{% set afdeling = "" %}
{% set style = "" %}

{% for tag in pagina.taxonomy.afdelingen %}
	{% set afdeling = tag %}
{% endfor %}

{% if afdeling == "ultimate" %}
	{% set style = 'ultimate' %}
{% elseif afdeling == "discgolf" %}
	{% set style = 'discgolf' %}
{% else %}
	{% set style = 'organisatie' %}
{% endif %}
 
{% set children = "" %}
{% set title = pagina.title %}
{% set lead = pagina.lead %}
{% if pagina.parent != 0 and pagina.parent is not empty  %}
    {% setcontent parentpagina = "paginas" where { 'id': pagina.parent } %}
    {% set title = parentpagina.title %}
    {% set lead = parentpagina.lead %}
    
    {% setcontent children = "paginas" where { 'parent': pagina.parent, 'volgnummer': '>0' } orderby 'volgnummer' %}
    {% if children is not empty and pagina.volgnummer == 0 %}
        {% set pagina = children|first %}
    {% endif %}
{% endif %}

{% include '_head.twig' with { 'title': title, 'description': pagina.lead, 'image': pagina.image, 'url': pagina.link } %}

<body class="background afdeling--{{ style }} ">

    <div class="sheet">
        
    {% include '_browser-upgrade.twig' %}    
    
    

    <article>

    {% include '_header.twig' with { 'afdeling': afdeling, 'image': pagina.image, 'title': title, 'header': lead, 'buttons': pagina, 'fotograaf': pagina.fotograaf } %}

        
        
        
	{% if pagina.body is not empty or pagina.body_advanced is not empty %}  

        
    <section class="section--text afdeling--text">
      <div class="container">
		<div class="grid">
            
            <div class="pagina">
             
            {% if pagina.body is not empty %}  

            {{ pagina.body }}
            
            {% endif %}    
            
            {% if pagina.body_advanced is not empty %}
            
            {{ pagina.body_advanced }}
            
            {% endif %}   
                 
            
            </div>
            
    	</div> 
	  </div>
    </section>

	{% endif %}    
      
    {% if pagina.sectie1 != '0' %}
        {% include 'sectie.twig' with { 'sectieid': pagina.sectie1 } %}
    {% endif %}
      
    {% if pagina.sectie2  != '0' %}
        <div class="separator"></div>
        {% include 'sectie.twig' with { 'sectieid': pagina.sectie2 } %}
    {% endif %}
      
    {% if pagina.sectie3  != '0' %}
        <div class="separator"></div>
        {% include 'sectie.twig' with { 'sectieid': pagina.sectie3 } %}
    {% endif %}
        
    {% if pagina.sectie4  != '0' %}
        <div class="separator"></div>
        {% include 'sectie.twig' with { 'sectieid': pagina.sectie4 } %}
    {% endif %}
        
    {% if pagina.sectie5  != '0' %}
        <div class="separator"></div>
        {% include 'sectie.twig' with { 'sectieid': pagina.sectie5 } %}
    {% endif %}
        
    {% if pagina.sectie6  != '0' %}
        <div class="separator"></div>
        {% include 'sectie.twig' with { 'sectieid': pagina.sectie6 } %}
    {% endif %}
   
    {% block extended_content %}
    {% endblock %}

    </article>
      
    {% if pagina.sectiev1 != '0' %}
        <div class="separator"></div>
        {% include 'sectie.twig' with { 'sectieid': pagina.sectiev1 } %}
    {% endif %}
        
    {% if pagina.sectiev2  != '0' %}
        <div class="separator"></div>  
        {% include 'sectie.twig' with { 'sectieid': pagina.sectiev2 } %}
    {% endif %}
      
    {% if pagina.sectiev3  != '0' %}
        <div class="separator"></div>
        {% include 'sectie.twig' with { 'sectieid': pagina.sectiev3 } %}
    {% endif %}
        
    {% if pagina.sectiev4  != '0' %}
        <div class="separator"></div>
        {% include 'sectie.twig' with { 'sectieid': pagina.sectiev4 } %}
    {% endif %}
        
    {% include '_footer.twig' %}
	{% include '_scripts.twig' %}

    </div>

    {% include '_piwik.twig' %}
</body>
</html>
