{% extends "pagina.twig" %}

{% block extended_content %}
    {% setcontent nieuwsberichten = 'nieuws/latest/6' where { afdelingen: afdeling } %}

    <section class="section--nieuws section--cards--small" style="position: relative;">
        <div class="section__content">
        <div class="container">

            <div class="grid">
                <div class="section__header">
                    <div class="section__title section__title--centered"><h2>Nieuws</h2></div>
                </div>
            </div>

            <div class="smallcards">
                {% for nieuwsbericht in nieuwsberichten  %}       
                    {% include 'nieuwsbericht_card.twig' with { 'nieuwsbericht': nieuwsbericht } %} 
                {% endfor %}
            </div>

            <div class="grid">
                <div class="btn-landing section__button"><a href="{{ paths.root }}pagina/{{ afdeling }}-nieuws/">Meer nieuws...</a></div>
            </div>
            
        </div>
        </div>
        
    </section>

{% endblock %}
 