{% extends "displaytemplate.twig" %}

{% block sectie_classes %}
	
{% endblock %}

{% block sectie_content %}

    <div class="container">
        <div class="grid section__content">

            {% if display.caption  is not empty %}
			
            <div class="section__header">
                <div class="section__title">
                    <h2>{{ display.caption }}</h2>
                </div>
			</div>
            
			{% endif %}

             <div class="afdeling--text">
           
            {% if display.body is not empty %}
			
			{{ display.body }}

			{% endif %}
    
            </div>
           
        </div>
    </div>
    
{% endblock %}
