{% extends "sectietemplate.twig" %}

{% block sectie_classes %}
	
section--cards--small section--nieuws

{% endblock %}

{% block sectie_content %}
    
    {% setcontent nieuwsberichten = 'nieuws/latest/24' where { afdelingen: afdeling } allowpaging %}
            
    <div class="container">
        <div class="section__content">

            <div class="section__header"></div>

            <div class="smallcards">
                {% for nieuwsbericht in nieuwsberichten %}      

                {% include 'nieuwsbericht_card.twig' with { 'nieuwsbericht': nieuwsbericht } %} 
                
                {% endfor %}          
            </div>
                        
            {{ pager() }}
           
        </div>
    </div>
    
{% endblock %}
