{% extends "sectietemplate.twig" %}

{% block sectie_classes %}

{% endblock %}

{% block sectie_content %}

    {% setcontent courses = 'courses/latest/10' allowpaging %}

    <div class="container">
        <div class="section__content">
            <div class="section__header"></div>
            
            <div class="widecards">
            {% for course in courses %}   

            {% include 'course_cardwide.twig' with { 'course': course } %} 

            {% endfor %}
            </div>
            
            {{ pager() }}

        </div>
    </div> 
    
 
    
{% endblock %}

