{% extends "sectietemplate.twig" %}

{% block sectie_classes %}
	
section--cards--wide

{% endblock %}

{% block sectie_content %}

    <div class="container">
        <div class="grid section__content">
            <div class="section__header"></div>
            
            {% setcontent werkgroepen = 'werkgroepen' %}

            {% for werkgroep in werkgroepen | reverse %}       
                {% include 'werkgroep_cardwide.twig' with { 'werkgroep': werkgroep } %} 
            {% endfor %}
            
        </div>
    </div>

{% endblock %}
