{% extends "sectietemplate.twig" %}

{% block sectie_classes %}
	
section--text  afdeling--text

{% endblock %}

{% block sectie_content %}


    <div class="container">
        <div class="grid section__content">

            {% if sectie.caption  is not empty %}
			
            <div class="section__header">
                <div class="section__title">
                    <h2>{{ sectie.caption }}</h2>
                </div>
			</div>
            
			{% endif %}

            {{ sectie.templatefields.html }}
            
        </div>
    </div>

{% endblock %}

