{% extends "sectietemplate.twig" %}

{% block sectie_classes %}
	
{% endblock %}

{% block sectie_content %}

    <div class="container">
        <div class="grid section__content">
            <div class="section__header"></div>
            
            {% setcontent competities = 'competities' orderby '-date'  %}

            <table class="tables">
                <tbody> 
                    {% for competitie in competities %}
                    <tr>
                        <td><a href="{{ competitie.url }}">{{ competitie.title | title }}</a></td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>

{% endblock %}
