<section id="sectie{{ sectie.id }}" class="{% block sectie_classes %}{% endblock %}" 
     
	<div class="section__foreground">                 
	 
	{% block sectie_content %}
    {% endblock %}

  	</div>
	
</section>
