<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ paths.theme }}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ paths.theme }}js/scripts.min.js"></script>


<!-- Jekyll Simple Search option -->
<script>
  $(document).ready(function() {
      $('.search-field').jekyllSearch({
          jsonFile: '{{ paths.root }}/search.json',
          searchResults: '.search-results',
          template: '<li><article ><a class="searchresult" href="{url}">{title} <span class="entry-date"><time datetime="{date}">{shortdate}</time></span></a></article></li>',
          fuzzy: true,
          searchResultsTitle  : '<h4>Zoekresultaten</h4>',
          noResults: '<p>Geen resultaten gevonden.</p>'
        });
  });

  (function( $, window, undefined ) {
    
     var bs = {
          close: $(".doclosesearch"),
          searchform: $(".search-form"),
          menuform: $(".menu-fullscreen"),
          canvas: $(".menu-screen"),
          dothis: $('.dosearch'),
          domenu: $('.domenu'),
          closemenu: $(".doclosemenu"),
          searchresult: $(".searchresult"),
          menuitem: $(".menu-item")
      };
    bs.searchresult.on('click', function() {
        $('.search-wrapper').removeAttr( 'style' );
        $('body').toggleClass('no-scroll');
        bs.searchform.toggleClass('active');
        bs.canvas.removeClass('is-visible');
    });
    bs.domenu.on('click', function() {
       $('.menu-wrapper').css({ display: "block" });
      $('body').toggleClass('no-scroll');
      bs.menuform.toggleClass('active');
      bs.canvas.toggleClass('is-visible'); 
    });
      
    bs.closemenu.on('click', function() {
        $('.menu-wrapper').removeAttr( 'style' );
        $('body').toggleClass('no-scroll');
          bs.menuform.toggleClass('active');
        bs.canvas.removeClass('is-visible');
    });
      
    bs.menuitem.on('click', function() {
        $('.menu-wrapper').removeAttr( 'style' );
        $('body').toggleClass('no-scroll');
        bs.menuform.toggleClass('active');
        bs.canvas.removeClass('is-visible');
    });
      
    bs.dothis.on('click', function() {
      $('.search-wrapper').css({ display: "block" });
      $('body').toggleClass('no-scroll');
      bs.searchform.toggleClass('active');
      bs.searchform.find('input').focus();
      bs.canvas.toggleClass('is-visible');
    });
    
    bs.close.on('click', function() {
        $('.search-wrapper').removeAttr( 'style' );
        $('body').toggleClass('no-scroll');
        bs.searchform.toggleClass('active');
        bs.canvas.removeClass('is-visible');
    });
      
    
  })( jQuery, window );
</script>

