{% extends "pagina.twig" %}

{% block extended_content %}
    {% setcontent competitieuitslagen = 'ultimateuitslagen' where { competities: 'jeugd' } orderby '-date' %}

    <section>
        <div class="container">
            <div class="grid">

                <h2> Uitslagen </h2>

                <ul>
                    {% for uitslag in competitieuitslagen %}       

                    <li>{{uitslag.date}} - <a href="{{ uitslag.link }}">{{uitslag.title}}</a></li>

                    {% endfor %}
                </ul>

            </div>
        </div>
    </section>

{% endblock %}
