{% extends "pagina.twig" %}

{% block extended_content %}
    {% setcontent nieuwsberichten = 'nieuws/latest/10' where { afdelingen: afdeling } allowpaging %}
    
    <section class="section--cards--wide">
        <div class="container">
            <div class="grid">
                
                {% for nieuwsbericht in nieuwsberichten %}       
                    {% include 'nieuwsbericht_cardwide.twig' with { 'nieuwsbericht': nieuwsbericht } %} 
                {% endfor %}
                
                {{ pager() }}
                
            </div>
        </div>
    </section>

{% endblock %}
