{% extends "pagina.twig" %}

{% block extended_content %}
    {% setcontent nieuwsberichten = 'nieuws' where { afdelingen: afdeling } %}

    <section class="section--cards--small">
        <div class="container">

            <div class="grid">
                <div class="section__header">
                    <div class="section__title"><h2>Nieuws</h2></div>
                </div>
            </div>

            <div class="grid">
                {% for nieuwsbericht in nieuwsberichten|slice(0, 3) %}       
                    {% include 'nieuwsbericht_card.twig' with { 'nieuwsbericht': nieuwsbericht } %} 
                {% endfor %}
            </div>

            <div class="grid">
                <div class="btn-landing"><a href="{{ paths.root }}pagina/{{ afdeling }}-nieuws/">Nieuws...</a></div>
            </div>
            
        </div>
    </section>

{% endblock %}
 