{% extends "pagina.twig" %}

{% block extended_content %}
   
    
    <section class="section--forwards">
        <div class="container">
            <div class="grid section__content">
        <div class="forwards--linkerkolom">
            {% setcontent nationaleteams = 'nationaleteams' where { 'jeugd': 0 } %}
            
            <div class="section__header">
            <h3>Volwassenen</h3></div>
            <ul>
            {% for team in nationaleteams %}       
                <li><a href="#team{{team.id}}">{{ team.title }}</a></li>
            {% endfor %}    
            </ul>
            
        </div>
        <div class="forwards--rechterkolom">
            {% setcontent nationaleteams = 'nationaleteams' where { 'jeugd': 1 } %}
            <div class="section__header">
            
                <h3>Jeugd</h3></div>
            <ul>
            {% for team in nationaleteams %}       
                <li><a href="#team{{team.id}}">{{ team.title }}</a></li>
            {% endfor %}    
            </ul>
        </div>
                </div>
            </div>
    </section>

    
    <section class="section--cards--wide">
        <div class="container">
            <div class="grid section__content">
                <div class="section__header"></div>
                <div class="widecards">

                {% setcontent nationaleteams = 'nationaleteams'  %}

                {% for team in nationaleteams %}       
                    {% include 'nationaalteam_cardwide.twig' with { 'team': team } %} 
                {% endfor %}
                
                <div>

            </div>
        </div>
    </section>

{% endblock %}
