{% extends "pagina.twig" %}

{% block extended_content %}

<section class="section--cards--small">
    <div class="container">        
        <div class="section__content">
                <div class="section__header"></div>
            {% setcontent aangeboden = 'aanbod' %}
			<div class="smallcards">
            {% for aanbod in aangeboden %}
                {% include 'aanbod_card.twig' with { 'aanbod': aanbod } %}               
            {% endfor %}
            </div>
        </div>
    </div>       
</section>            

{% endblock %}
