
.arrow-link {
    font-weight: 400;
    color: #000;
}
.arrow-link::before {
    content: "\f178";
    font-family: "FontAwesome";
    margin-right: 15px;
    color: $nfb-orange;
    transition: all 0.5s ease;
}

.arrow-link:visited {
    color: inherit;
}

.arrow-link:hover::before {
    margin-right: 7px;
    margin-left: 8px;
}

.section-inverse .arrow-link::before {
    color: #fff;
}

.section-inverse .arrow-link {
    color: #fff;
}

.section-inverse .pdf-link::before {
    color: #fff;
}

.section-inverse .pdf-link {
    color: #fff;
}

.pdf-link {
    font-weight: 400;
    color: #000;
}
.pdf-link::before {
    content: "\f1c1";
    font-family: "FontAwesome";
    margin-right: 15px;
    color: $nfb-orange;
    transition: all 0.5s ease;
}

.pdf-link:visited {
    color: #000;
}

.pdf-link:hover::before {
    margin-right: 7px;
    margin-left: 8px;
}


.title-link {
    color: $title-color; 
    &:visited {
        color: $title-color;
    }
        
    &:hover, 
    &:focus, 
    &:active {
        color: $nfb-orange;
        text-decoration: underline;
    }
}

.afdeling--link--inverse {
    color: #fff; 
    &:visited {
        color: #fff;
    }
        
    &:hover, 
    &:focus, 
    &:active {
        color: $nfb-orange;
        text-decoration: underline;
    }
}