.tag {
    padding: 5px 20px;
    margin-right:10px;
    cursor: pointer;
    color: white;
    background-color: $nfb-orange;
    float: left;
}
    
//.tag--competitie {
//    color: white;
//    background-color: green;
//}
.clearfix { clear: both; }
.card {
    
}

.card--small {
    
    border: 0px;
    
    @include media($large) {
        @include span-columns(4);
        @include omega(3n);
        
          margin-bottom: 15px;
    overflow: hidden;
    background-color: #fff; 
    
 
        @include border-radius(5px, 5px, 5px, 5px);
        border: 3px solid #fff;
   
        
    }
    
  
}

.card--wide {
    margin-bottom: 15px;
    overflow: hidden;
    background-color: #fff; 
    
    //@include media($large) {
        @include border-radius(5px, 5px, 5px, 5px);
        border: 3px solid #fff;
    //}
    
    //@include media($large) {
        margin-left: auto;
        margin-right: auto;
        max-width: 850px;
    //}
    
    //@include media($large) {
    //    @include border-radius(5px, 5px, 5px, 5px);
    //    border: 1px solid #dddddd;
    //}
}

.card--post {
    text-align: left;
}

.card--course {
    text-align: left;
}

.card--concept {
    text-align: left;
}

.card--vereniging {
    
    text-align: left;
    @include media($large) {
            text-align: center;    
        }
}

.card--nt {
    text-align: left;
}

.card--small {
    .card__image {    
        vertical-align: top;     
        width:27%;
        @include media($large) {
            width: 100%;        
        }
    }
    

    .card__content {
         display: inline-block;    

        
        //text-align: left;
        
        @include media($large) {
            margin-top: 15px;
            padding: 10px;     
        }
    }
    
    .card--vereniging__image {
        vertical-align: top;     
        width:27%;
        float:right;
        @include media($large) {
            float: none;
            margin-top: 15px;
            width: 50%;       
        }
    }
    
    .card__footer {
        display: none;

        @include media($large) {
            display: block;
        }
    }
    
    
    .card__content {
        
        vertical-align: top;
       
        @include media($large) {
            width: 100%;
            margin-left:0;
           
        }
    }
    
.card__title {
    line-height:0;
    margin-top:0;
    
     @include media($large) {
            line-height:1.1;
        margin-top:15px;
    }
}
.card__subtitle {
    margin-top: 0;
    font-size: 16px;
    color: #aaa; 
    @include media($large) {
            font-size: 22px;
    }
}
    .card__tag {
        display: none;
        @include media($large) {
            display: inline-block;
        }
    }
    
    .card__text {
        display: none;
        @include media($large) {
            display: inline-block;
        }
    }
    
    .card__link {
        display: none;
        @include media($large) {
            display: block;
        }
    }
    
    .card__share {
        display: none;
        @include media($large) {
            display: inline-block;
        }
    }
}

.card--wide {
    .card__image {         
        width: 100%;
    }

    
    .card__content {
        width:100%;
    }
    
    
.card__title {
    line-height:1.1;
    margin-top:15px;
}
.card__subtitle {
    margin-top: 0;
    font-size: 22px;
    color: #aaa;
}
    
.card__content {
     display: inline-block;    

    padding: 10px;
    margin-top:15px;
    //text-align: left;
}
}
 .card__link {
        display: block;
        
    }
.card__image {     
    //position: relative; 
    //
    display: inline-block;
    width:100%; 
    //top:0; 
    //height: 250px;
    
    background-size: cover; 
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: scroll;
}
.card--wide .team--image {
    @include media($large) {
       height: 450px !important;
    }
}



.card__tag {
    float:left;
}

.card__date {
    float:left;
    color: gray;
}

.card__title {
     
     
    a, a:visited {
        color: black;
    }
    a:hover, 
    a:focus, 
    a:active {
        color: $nfb-orange;
        text-decoration: underline;
    }
}



.card__footer {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    margin-top: 15px;
}

.card__share {
    float: right;
}

.werkgroep--lid {
    text-align: center;
    overflow: hidden;
    @include media($large) {
        display: inline-block;
        float:none;
        width:27%;
        margin:0px 20px 30px 20px;
        
    }   
    
    vertical-align: top; 
    margin:0px 20px 50px 20px;
}

.werkgroep--lid--image {
    @include rounded(550px);
    width: 90%;
    max-width: 200px;
}

.werkgroep {
    text-align: center;
     
}

.werkgroep--leden {
    vertical-align: top; 
}

.werkgroep--lid--name {
    margin-bottom: 0;
}

.werkgroep--lid--omschrijving {
    font-size: 14px;
}

.werkgroep--lid--contact {
    font-size: 14px;
}

.werkgroep {
    @include media($large) {
        margin-left: auto;
        margin-right: auto;
       // max-width: 1000px !important;
    }
    
    //@include media($large) {
    //    @include border-radius(5px, 5px, 5px, 5px);
    //    border: 1px solid #dddddd;
    //}
}