// =========================================================================================
// Header top
// =========================================================================================

 .header {
     
     padding-top: 50px;        
     position: relative;
      @include media($large) { 
          padding-top: 0px;        
      }
 }

.header:after {
    content: "";
    display: table;
    clear: both;
}

.header__logo {
    margin-left: auto;
    margin-right: auto;
    @include media($large) { 
        float: left;
         margin-left: 30px;
        
    }
    
    margin-top: 30px;
    margin-bottom: 15px;
    width: 200px;
   
    @include animation-duration(1s);
    @include animation-delay(.05s);
}

// =========================================================================================
// Social icons
// =========================================================================================

.header__social-icons {
    height: 28px;
    position: absolute;
    top: 10px;
    right: 15px;
}

.header__social-icons li {
    list-style: none;
    margin-right: 5px;
    float: right;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    line-height: 18px;
}
.header__social-icons li a {
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
    height: 28px;
    width: 28px;
}
.header__social-icons li:hover {
background-position: 0 -38px; }

.header__facebook {
    background: url("../images/icon_facebook.png") no-repeat;
}

// =========================================================================================
// Top menu
// =========================================================================================

.menu-top {
    display: none;
    @include media($large) { 
        display: block;
    }
    
    position: absolute;
    bottom: 10px;
    right: 15px;

    margin: 0;
    padding: 0;
    
    list-style: none;
    
    li {
        float: left;

        padding: 0;
        margin: 0 0 0 30px;
         
 		list-style-type: none;
	}
}


.top-menu-item:last-child {
    border-right: 1px solid #000;
}

.top-menu-link,
.top-menu-link:visited,
.top-menu-link:active {
    @include font-size(18);
    font-weight: lighter;
    color: #555;
}

.top-menu-link:hover {
    color: $nfb-orange;
}


// =========================================================================================
// Banner
// =========================================================================================

.banner {
    position: relative;
    
    width:100%; 
    padding: 0;
    margin: 0;
    
    border-top: solid 5px $nfb-orange;
    
     background-size: cover; 
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: scroll; 
}

.banner--small {
    height:237px; 
}

.banner--big {
    min-height:50vh;
    max-height:750px;
}


.image-credit {
	margin: 0 auto;
	max-width: 440px;
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 20px;
	text-align: right;
	@include font-size(14,no);
	line-height: 1.3;
	color: lighten($text-color, 30);
	@include clearfix();
	@include media($medium) {
		max-width: 760px;
		padding-right: 60px;
		padding-left: 60px;
	}
	@include media($large) {
		max-width: 960px;
	}
	a {
		color: lighten($text-color, 30);
	}
}

// =========================================================================================
// Header title
// =========================================================================================

.header-content {
    width: 100%;
    background-color: $nfb-orange;
}

.header-content__text {
    padding: 20px;
    color:#fff;
    margin: 0;
    width: 100%;
    text-align: center;
    
    h1 {
        margin: 0;
        padding: 0;
    }
}

.ghost-buttons {
    margin: 0;
    padding: 0;
}


