body {
	margin: 0;
	padding: 0;
	width: 100%;
    background: #cccccc url("../images/background.jpg") no-repeat fixed center center;
}

.sheet {
    margin: 0px auto;
    max-width: 100%;
    width: 1500px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.container {
    max-width: $max-width + ($gutter * 2);
    margin: 0 auto;  
    z-index: 1;
}

.grid {
    @include outer-container();
    margin: 0 ($gutter / 2);
    
    
    @include media($medium) {
		margin: 0 $gutter;
	}
}








