// =========================================================================================
// Desktop
// =========================================================================================

.navigatie-afdelingen {
    display: none;
    @include media($large) { 
        display: block;
    }
    
    
    margin: 0;
    padding: 0;
    width: 100%;

    height: 40px;
    //background-color: $nfb-orange;    
}

.navigatie-afdelingen__tabs {
    float: right;
    margin-right:20px;
    height: 40px;
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            float: left; 
        }
    }
}

.navigatie-afdelingen__tab {
    float: left;
    margin: 5px 0px 0 0;
    height: 35px;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 20px;
    border-radius: 5px 5px 0 0;@include font-size(16);
}

.navigatie-afdelingen__tab--inactive,
.navigatie-afdelingen__tab--inactive:visited,
.navigatie-afdelingen__tab--inactive:active {
    color: white;
    background-color: transparent;
}

.navigatie-afdelingen__tab--inactive:hover {
    color: $nfb-orange; 
    background-color: $nfb-orange-white;
}

.navigatie-afdelingen__tab--active {
    background-color: white;
    color: $nfb-orange; 
}

.navigatie-afdelingen__title {
    float: left;
    color: white;
    margin: 10px 0 0 20px;
}
           
// =========================================================================================
// Mobile
// =========================================================================================
 
.navigatie-mobile {
    position: fixed;
    display: block;
    @include media($large) { 
        display: none;        
    }
    top:0;
    left:0;
    margin: 0;
    padding: 0;
    width: 100%;

    height: 3em;
   // background-color: $nfb-orange;    
    z-index: 10000;
}

.navigatie-mobile__left {
    position: fixed;
    top: 0.8em;
    left:1em;
    color: white;
}

.navigatie-mobile__right {
    position: fixed;
    top: 0.8em;
    right: 1em;
    color: white; 
}

.navigatie-mobile__button {
     box-sizing: border-box;
	
    height: 100%;
    
    padding: 0.3em  1.5em;
    
	text-align: center;
    vertical-align: middle;
	
    text-decoration: none;
    font-family: inherit;
 
	cursor: pointer;
	
    color: $nfb-orange;
	background-color: white;
    
    transition: all 0.6s ease;
    
    @include border-top-radius(3px);
    @include border-right-radius(3px);
    @include border-bottom-radius(3px);
    @include border-left-radius(3px);
}

.navigatie-mobile__button:hover {
    background: $nfb-orange-white;
}


.no-js .dosearch {
  display: none;
}

.no-js .domenu {
  display: none;
}


