/***** Theme specific colors *****/
$nfb-theme             : #1296D4;
$nfb-theme-light       : #7FC9FF;
$nfb-theme-dark        : #133B68;
$nfb-theme-very-light  : #cFFFdE;
$nfb-theme-white       : #E8FCFC;

@import "main";


